body {
    background: rgb(84, 10,5);
    color: rgb(111, 105, 105);
    padding: 10px;
    font-family: fantasy; font-style:italic
}
#all-contents {
  max-width: 900px;
    margin: auto;

}

/* navigation menu */
nav {
    background: rgb(48, 6, 3);
   margin-bottom: 20px;
    display: flex;
    padding: 8px;
    border-radius:6px;
    border-style:outset;
    border-color:rgb(37, 4, 1);
    border-width:5px;
}
img {
    border-radius: 8px;
    border: 4px grey ridge;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(116, 14, 7);
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 10px;
}
a {
    text-decoration: none;
    color: #540a05;
}

/* main container area beneath menu */
main {
    background: rgb(28, 1, 1);
    display: flex;
    border-style: outset;
   border-color:rgb(31, 1, 1);
   border-width:5px;
   border-radius:6px;
   height:510px;


   
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 10px;
}
.bats-img {
        width:170px;
        height:auto;
        border:none;
}
.divider-img {
    border:none;
   width:615px;

    
}

/* portfolio styles */
#interests {
    border-radius: 8px;
    border: 4px  grey ridge;
    padding: 8px;
}
.music


h2, h3 {
    margin: 0px;
    vertical-align:top
}
 
        
/* portfolio styles */
         .content h1 {
            color: silver;
        }
      .content h1:after {
        content: url(https://icons.iconarchive.com/icons/icons8/halloween/256/bat-icon.png);
          }
        #portfolio {
            list-style-type: none;
            padding-left: 0;
        }

        #portfolio li {
            background: rgb(13, 1, 1);
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        #portfolio li:hover {
            background: rgb(13, 1, 1);
        }

        #portfolio a {
            text-decoration: none;
            color: silver;
            font-size:20px
        }
                    /* responsive web design */
                    @media only screen and (min-width: 120px) and (max-width: 1080px) {
                        main {
                            background-color:#540a05
                          height: 100ch;
                          zoom: 1.5;
                          display: grid;
                        }
          
                        h1 {
                          font-size: 44px;
                        }
          
                        h2 {
                          font-size: 42px;
                        }
          
                        h3 {
                          font-size: 36px;
                        }
          
                        #all-contents {
                          height: 100ch;
                          margin: none;
                        }
          
                        a {
                          font-size: 42px;
                        }
          
                        .sidebar {
                          margin-right: 0px;
                          justify-content: center;
                          align-items: center;
                        }
          
                        .sidebar-img {
                          width: 100%;
                        }
          
                        p,
                        li {
                          font-size: 24px;
                        }
          
                        .content {
                          align-content: center;
                          justify-content: center;
                        }
                    }