body {
  margin: 0px;
}

canvas {
  background-color: rgb(56, 4, 4);
  margin: 20px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6tYNIcJ-isFYVgcwXm7GLtzi7MLjBwaJS5cpPYk0Lh-RdMwebwqKEHBM5ZG4xkHxlc8g&usqp=CAU);
  background-repeat:no-repeat;
  background-size:100%
}

img {
  display: none;
}

